.drawer {
  width: 600px;
  min-width: 600px;
  height: 100vh;
  position: sticky;
  overflow: auto;
  overflow-y: overlay;
  border-right: 1px solid #cccccc;
  box-shadow: 0px 5px 10px #cccccc;
  padding: 32px;
  box-sizing: border-box;
}
